---
title: Onix
headerLinkHome: active
classPosts: section posts
---
extends layouts/layout
block content
	// main
	.section.main
		.main__container.container
			.main__head
				.main__stage INTRODUCING ONIX
				h1.main__title.h1 Community-owned API&nbsp;of blockchains.
				.main__info Onix delivers tamper-proof inputs, outputs, and computations to support advanced smart contracts on any blockchain
			.main__images
				.main__image
					img(src="img/lines.svg" alt="")
				.main__image.js-parallax(data-speed="1.5")
					img(src="img/figures/figure-1.png" alt="")
				.main__image.js-parallax(data-speed="1.7")
					img(src="img/figures/figure-2.png" alt="")
				.main__image.js-parallax(data-speed="-1.3")
					img(src="img/figures/figure-3.png" alt="")
				.main__image.js-parallax(data-speed="1.6")
					img(src="img/figures/figure-4.png" alt="")
				.main__image.js-parallax(data-speed="1.7")
					img(src="img/figures/figure-5.png" alt="")
				.main__image.js-parallax(data-speed="1.5")
					img(src="img/figures/figure-6.png" alt="")
			+scroll('SCROLL TO EXPLORE', 'development')
	// development
	.section.development
		.development__anchor.anchor#development
		.development__container.container.container_wide
			h2.development__title.h2 Onix makes blockchain development accessible for everyone.
			.development__wrapper
				.development__list
					mixin developmentCard(image, title, content, color, delay)
						// card
						a.development__card.card(href="technology.html" data-aos="fadeInDown" data-aos-duration="800" data-aos-delay=delay)
							+cardStyle(color)
							.card__inner
								.development__preview
									img(src=image alt="")
								.development__subtitle.h3=title
								.development__content=content
								.development__foot
									.development__more(style='color:' + color) Learn more
									.development__arrow
										+i('arrow-right')
					+developmentCard("img/development-pic-1.png", "Globally-accesible, transformational API", "Your data can be transformed, organized, and shared across applications for anyone to query with just a few keystrokes.", "#6F5BEB", 0)
					+developmentCard("img/development-pic-2.png", "Resilient, automated layer security", "Empower your blockchain security without sacrificing crucial resources and accessibility to its members.", "#EBB15B", 200)
					+developmentCard("img/development-pic-3.png", "Seamless connection to any API tools", "Your data can be transformed, organized, and shared across applications for anyone to query with just a few keystrokes.", "#89EB5B", 400)
					+developmentCard("img/development-pic-1.png", "Reliable, tamper-proof network", "Use cryptographic proofs to connect highly accurate and available data/APIs to any smart contract.", "#6F5BEB", 600)
					+developmentCard("img/development-pic-2.png", "Resilient, automated layer security", "Empower your blockchain security without sacrificing crucial resources and accessibility to its members.", "#EBB15B", 800)
					+developmentCard("img/development-pic-3.png", "Seamless connection to any API tools", "Your data can be transformed, organized, and shared across applications for anyone to query with just a few keystrokes.", "#89EB5B", 1000)
	// quality
	.section.quality
		.quality__container.container
			.quality__item
				.quality__wrap
					.quality__content.content
						h2 Built by developers, for developers.
						p Onix delivers tamper-proof inputs, outputs, and computations to support advanced smart contracts on any blockchain.
						ul
							li Fully benefit from scalable network effects
							li Inherently more secure than all competitors
							li More open and powerful with 0.001% downtime
					.quality__line
						button.button.quality__button
							span launch app
						.quality__document Read the docs
				.quality__preview
					img(src="img/about-pic-1.png" alt="")
			.quality__item
				.quality__wrap
					.quality__content.content
						h2 Top blockchains build on Onix.
						p Onix is committed to fostering the growth of Web3 applications by providing the infrastructure and security needed for Web3.
						p Onix believes in Web3 for all. Onix is a decentralised blockchain scaling platform that enables developers to build scalable user-friendly dApps with low transaction fees without ever sacrificing on security.
					.quality__line
						button.button.quality__button
							span launch app
						.quality__document Read the docs
				.quality__preview
					img(src="img/about-pic-2.png" alt="")
	// statistics
	.section.statistics
		.statistics__container.container.container_large
			.statistics__wrapper
				.statistics__list
					.statistics__item
						.statistics__value.h3 220K+
						.statistics__title.title Contract creators
					.statistics__item
						.statistics__value.h3 $110M
						.statistics__title.title Avg. daily gas saved
					.statistics__item
						.statistics__value.h3 89
						.statistics__title.title Active validators
					.statistics__item
						.statistics__value.h3 90M+
						.statistics__title.title Unique addresses
					.statistics__item
						.statistics__value.h3 17.5K
						.statistics__title.title Delegators on PoS
					.statistics__item
						.statistics__value.h3 4.9B+
						.statistics__title.title Total transactions
	// solutions
	.section.solutions
		.solutions__container.container.container_small
			.solutions__head
				h2.solutions__title.h2 Scaling solutions, amplified.
				.solutions__info Onix&apos;s complete suite of blockchain-scaling solutions.
			.solutions__list
				mixin solutionsCard(image, title, content, status, color, small, delay)
					// card
					.solutions__card.card.card_small(data-aos="fadeInDown" data-aos-duration="800" data-aos-delay=delay)
						+cardStyle(color, small)
						.card__inner
							.solutions__icon
								img(src=image alt="")
							.solutions__title.h3=title
							.solutions__content=content
							.status(style='color:' + color)=status
				+solutionsCard("img/icon-1.svg", "Onix Fraktal", "EVM-compatible block sidechain, secured by a permissionless set of PoS validators.", "ONLINE", "#89EB5B", true, 0)
				+solutionsCard("img/icon-2.svg", "Onix Satchel", "Create exchanges and marketplaces that allow anyone around the world to invest.", "ONLINE", "#89EB5B", true, 200)
				+solutionsCard("img/icon-3.svg", "Onix Shard", "Bring value to gamers by letting them take their loot to another game or into the real world.", "ONLINE", "#89EB5B", true, 400)
				+solutionsCard("img/icon-4.svg", "Onix Lancer", "Cryptographic proofs to connect highly accurate and available data/APIs to any smart contract.", "DEVELOPMENT", "#EBB15B", true, 0)
				+solutionsCard("img/icon-5.svg", "Onix Echo", "Empower your community to organize and allocate resources to its members.", "DEVELOPMENT", "#EBB15B", true, 200)
				+solutionsCard("img/icon-6.svg", "Onix Epoc", "Protect dApps from insolvency by auditing the reserves of tokens used as collateral.", "VOTING", "#6F5BEB", true, 400)
			.solutions__images
				.solutions__image.js-parallax(data-speed="1.5")
					img(src="img/figures/figure-7.png" alt="")
				.solutions__image.js-parallax(data-speed="1.3")
					img(src="img/figures/figure-8.png" alt="")
				.solutions__image.js-parallax(data-speed="1.6")
					img(src="img/figures/figure-9.png" alt="")
	include includes/posts
	include includes/reviews
	include includes/join





