// footer
footer.footer
	.footer__container.container.container_wide
		.footer__row
			a.footer__logo(href="index.html")
				img(src="img/logo.svg" alt="Onix")
			.footer__menu
				a.footer__link(href="https://ui8.net/" target="_blank") Community
				a.footer__link(href="technology.html" class=headerLinkTechnology) Technology
				a.footer__link(href="about-us.html" class=headerLinkAbout) About us
				a.footer__link(href="blog.html" class=headerLinkBlog) Blog
				a.footer__link(href="careers.html" class=headerLinkCareers) Careers
				a.footer__link(href="contact.html" class=headerLinkContact) Contact
		.footer__row
			.footer__copyright © 2022 Onix Systems. All rights reserved.
			.footer__documents
				a.footer__document(href="https://ui8.net/" target="_blank") Privacy policy
				a.footer__document(href="https://ui8.net/" target="_blank") Terms of use
			+socials

		