// posts
div(class=classPosts)
	.posts__container.container
		.posts__row
			.posts__wrap
				h2.posts__title.h2 Your gateway to everything Onix.
				.posts__info Stay current on the latest Onix project developments, news, and content, updated daily.
				a.button.posts__button(href="blog.html")
					span view all posts
			.posts__list
				mixin postsCard(image, title, date, status, color, small)
					// card
					a.posts__card.card.card_small(href="blog-details.html" data-aos="fadeInDown" data-aos-duration="800")
						+cardStyle(color, small)
						.card__inner
							.posts__preview
								img(src=image alt="")
							.posts__details
								.status(style='color:' + color)=status
								.posts__subtitle.h4=title
								.posts__line
									.posts__date=date
									+i('arrow-right')
				+postsCard("img/post-pic-1.jpg", "Everything Onix weekly report", "08/11/2022", "UPDATES", "#EB5BE5", true)
				+postsCard("img/post-pic-2.jpg", "Architects of the consensus", "08/11/2022", "UPDATES", "#89EB5B", true)
				+postsCard("img/post-pic-3.jpg", "Mitigating lost transactions", "08/11/2022", "UPDATES", "#EBB15B", true)
		.posts__image.js-parallax(data-speed="-1.4")
			img(src="img/figures/figure-10.png" alt="")
								